@mixin size-btn($h, $w) {
    height: $h;
    width: $w;
}



.form__{
    background-color: rgb(120, 122, 124);
    border: 2px solid rgb(180, 180, 180);
    border-radius: 13px;
    padding: 1.5rem;

    h2{
        font-weight: bold;
    }

  }