.texto__grupo{

    h3{
        color: $color;
        font-size: 2rem;
        margin-top: 10px;
      }
      ul {

        li{
        color: whitesmoke;
        margin-top: 5px;
        letter-spacing: 1px;
      }
      
     }
}