.historia__text{

    h2{
        font-size: 1.2rem;
        color: $color;
        font-weight: bold;
        padding: 1rem;
      }
      p{
        color: whitesmoke;
        letter-spacing: 1px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 13px;
      }
}